#sources-card {
  background-color: rgb(140, 202, 130, 0.8);
}


.sources-empty {
  color: #777;
  /* font-size: 12px; */
  font-style: italic;
}

.source-item {
  margin-bottom: 10px;
  padding-left: 10px;
  border-left: 3px solid black;
}

.source-header {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 2px;
}

.source-name {
  font-weight: 500;
  /* font-size: 13px; */
  color: #000000;
}

.source-type {
  font-size: 0.5rem;
  padding: 4px 8px;
  border-radius: 20px;
  background: rgb(26, 26, 26, 0.7);
  /* box-shadow: 0 1px 5px rgba(255, 255, 255, .4); */
  color: #ffff;
}

.source-quote {
  margin: 2px 0;
  font-size: 0.7rem;
  color: #313131;
  font-style: italic;
}