#summary-card {
  background-color: rgb(219, 220, 241, 0.8);
}

.breakdown-list {
  margin: 0;
  padding-left: 20px;
}

.breakdown-item {
  margin-bottom: 6px;
  /* line-height: 1.5; */
  color: black;
}
